#root {
  max-width: 1280px;
  text-align: center;
}

.bg-dark-frosted {
  background: rgba(2, 3, 4, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.center-vertically {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-fluid {
  max-width: 1024px;
}

div#intro-bg {
  background: #000;
}

div#skills-bg {
  background: #eee;
}

div#projects-bg {
  background: #090909;
}

div#contact-bg {
  background: #1c1c1c;
}

h3.subtitle {
  color: #ccc;
  font-weight: 300;
  font-size: 20px;
}

h3.subtitle-darker {
  color: #222;
  font-weight: 300;
  font-size: 20px;
}

.list-group-item a {
  color: none;
  font-weight: 400;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
}

.nav-link {
  font-size: 13px !important;
}

.navbar-nav {
  display: flex;
  flex-grow: 1;
}

.navbar-toggler-icon {
  background-size: 65%;
}

.page-section {
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
}

.page-section-background {
  height: 100vh;
  left: 0;
  width: 100vw;
  z-index: -1 !important;
}

.page-section-fore {
  z-index: 1;
}

.page-section-backgrounds {
  position: absolute;
}

.page-section#intro {
  /* background: #111; */
}

.page-footer {
  width: 100vw;
}

.page-footer .list-group-item {
  border: 0;
  font-size: 11px;
}

.page-footer .list-group-item:first-child {
  border-right: 1px dashed #aaa;
  padding-right: 25px !important;
}

.page-footer .list-group-item:nth-child(2) {
  padding-left: 25px !important;
}

.page-section#skills {
  /* background: #eeeeee76; */
}

.page-section#projects {
  background: #22222283;
}

.page-section#contact {
  background: #aaaaaa86;
}

.widget {
  animation: expand 0.5s ease forwards;
  background: rgba(22, 22, 23, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 50px;
  bottom: 50px;
  height: 50px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0;
  width: 300px;
  z-index: 100;
}

.widget p {
  animation: fadeIn 1s ease 0.5s forwards;
  opacity: 0;
}

/* Keyframes for expanding effect */
@keyframes expand {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

/* Keyframes for fading in text */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#wrapper-container {
  height: 100vh;
}
